.profile {

}

.profile_avatar {
    width: 100px;
}

.follow_item {
    position: relative;
    padding: 2px 20px;
    margin: 10px;
}
.follow_item p {
    padding-left: 50px;
}

.follow_avatar {
    position: absolute;
}

.follow_avatar img {
    width: 40px;
    border-radius: 50%;
}

.follow_button {
    position: absolute;
    right: 500px;
    top: 20px;
    background-color: #eee;
    border: none;
}
